.div-newsletter {
  display: inline;
}

.newsletter {
  margin-top: 15px;
}

.news-bottom {
  margin-bottom: 15px;
  margin-left: 10px;
}

.news-checkbox {
  margin-left: 25px;
}

/* Estilo del Modal */
.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed; /* Se mantiene fijo en la pantalla */
  z-index: 1; /* Se coloca encima de otros contenidos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Permite hacer scroll si el contenido es demasiado largo */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centro vertical y horizontal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
