// variables globales

//colores
$mainColor: white;
$secondaryColor: black;
$tertiaryColor: rgb(142, 142, 142);
$shadowColor: rgba (0, 0, 0, 0.3);

//fonts
$mainFont: "Arial", "Helvetica", "sans-serif";
$textH1: 1.3em;
$textH2: 1.1em;
$textH3: 1em;
$textH4: 0.8em;
